# Configuración de AWS
AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=your_access_key
AWS_SECRET_ACCESS_KEY=your_secret_key

# Configuración de SES
SENDER_EMAIL=noreply@example.com

# Configuración de S3
S3_BUCKET=expediente-esi3898k-examen1

# Configuración del Ambiente
ENVIRONMENT=local
